In [1]:
import pandas as pd
import numpy as np

In [3]:
images_train = './data/train/train-jpg/'
images_test = './data/test/test-jpg/'

labes_train = './data/train/train.csv'
labes_test = './data/test/test.csv'

In [4]:
data_train = pd.read_csv(labes_train)
data_test = pd.read_csv(labes_test)

In [5]:
data_train.head()

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [6]:
data_train['image_name'] = data_train['image_name'].astype(str) + '.jpg'
data_test['image_name'] = data_test['image_name'].astype(str) + '.jpg'

In [7]:
#list of possible labels
data_test['tags'] = data_test['tags'].apply(lambda x: x.split(' '))

In [8]:
#separating images and labels
images_train = np.array(data_train['image_name'].tolist())
images_train.reshape((images_train.shape[0], 1))
labels_train = np.array(data_train['tags'].tolist())

In [10]:
data_train.head()

    image_name                                       tags
0  train_0.jpg                               haze primary
1  train_1.jpg            agriculture clear primary water
2  train_2.jpg                              clear primary
3  train_3.jpg                              clear primary
4  train_4.jpg  agriculture clear habitation primary road

In [11]:
data_test.head()

   image_name                                        tags
0  test_0.jpg  [primary, clear, agriculture, road, water]
1  test_1.jpg  [primary, clear, agriculture, road, water]
2  test_2.jpg  [primary, clear, agriculture, road, water]
3  test_3.jpg  [primary, clear, agriculture, road, water]
4  test_4.jpg  [primary, clear, agriculture, road, water]

In [23]:
labels = []
for tags in data_train['tags'].values:
    for tag in tags.split(' '):
        if tag not in labels:
            labels.append(tag)
labels.sort()

In [24]:
labels

['haze',
 'primary',
 'agriculture',
 'clear',
 'water',
 'habitation',
 'road',
 'cultivation',
 'slash_burn',
 'cloudy',
 'partly_cloudy',
 'conventional_mine',
 'bare_ground',
 'artisinal_mine',
 'blooming',
 'selective_logging',
 'blow_down']